* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
}

body {
    font-family: "Segoe UI", sans-serif;
    background: linear-gradient(45deg,#373B44,#4286f4);
    height: 100vh;
}

header {
    height: 15vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.75) -10%,rgba(0,0,0,0) 100%);
}

.navbar {
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    text-transform: uppercase;
}

.navbar a {
    color: white;
    font-weight: bold;
}

.navbar .logo {
    font-size: 2em;
    font-weight: bold;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 25px;
}

.navbar .nav-links ul li a {
    background: linear-gradient(to top, rgba(255, 0, 0, 0.7) 0%, rgba(255, 0, 0, 0.7) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;
}

.navbar .nav-links ul li a:hover {
    background-size: 100% 100%;
}

.container {
    display: flex;
}

.col1 {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    margin: 10px auto;
    padding-right: 10%;
    padding-left: 25%;
}

.card p {
    width: 100%;
    height: 400px;
    color: white;
    font-size: larger;
    font-weight: bold;
}

.col2 {
    width: 50vw;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
}

form {
    background: rgba(255, 255, 255, .3);
    padding: 3rem;
    height: 400px;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    text-align: center;
}

form p {
    color: white;
    font-weight: 500;
    opacity: .7;
    font-size: 1.4rem;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

form a {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

form a:hover {
    text-shadow: 2px 2px 6px #00000040;
}

form a:active {
    text-shadow: none;
}

input,
button {
    background: transparent;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    padding: 1rem;
    width: 200px;
    border-radius: 50px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, .2);
    color: white;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    transition: all .3s;
    margin-bottom: 2em;
}

::placeholder {
    color: white;
}

input:hover,
button:hover,
input[type="mail"]:focus,
input[type="password"]:focus {
    background: rgba(255,255,255,0.1);
    box-shadow: 4px 4px 8px rgba(0,0,0,0.2);
}

button[type="submit"] {
    cursor: pointer;
    margin-top: 10px;
    font-size: 1rem;
    width: 150px;
}

footer {
    position: absolute;
    bottom: 0;
    /* width: 100vw; */
    background-image: linear-gradient(to top, rgba(0,0,0,0.75) -10%,rgba(0,0,0,0) 100%);
    height: 4rem; 
    font-size: 1.25rem;
    width: 100%;
}

footer p {
    text-align: center;
    color: white;
    font-size: 1.1rem;
}

.profil form {
    background: rgba(255, 255, 255, .3);
    padding: 3rem;
    height: 350px;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, .2);
    /* text-align: center; */
}

.profil form p {
    color: white;
    font-weight: 500;
    opacity: .7;
    font-size: 1.4rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    color: white;
  }
  
  th, td {
    padding: 15px;
  }

  th {
    text-transform: uppercase;
    font-weight: bold;
  }
  
  tr {
    border-bottom: 5px rgba(255, 255, 255, .5) solid;
    opacity: .7;
  }