* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
}

body {
    font-family: "Segoe UI", sans-serif;
    background-color: #006dab;
    height: 100vh;
}

header {
    height: 15vh;
    width: 100vw;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.75) -10%,rgba(0,0,0,0) 100%);
}

.navbar {
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    text-transform: uppercase;
}

.navbar a {
    color: white;
    font-weight: bold;
}

.navbar .logo {
    font-size: 2em;
    font-weight: bold;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 25px;
}

.navbar .nav-links ul li a {
    background: linear-gradient(to top, rgba(255, 0, 0, 0.7) 0%, rgba(255, 0, 0, 0.7) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;
}

.navbar .nav-links ul li a:hover {
    background-size: 100% 100%;
}

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    color: white;
  }
  
  th, td {
    padding: 15px;
  }

  th {
    text-transform: uppercase;
    font-weight: bold;
  }
  
  tr {
    border-bottom: 5px rgba(255, 255, 255, .5) solid;
    opacity: .7;
  }